/* ...
*= require matestack-ui-material
*= require matestack-cms
*/

#page-content{
  transition:opacity 0.1s linear;
}

.matestack_page_content{
  padding-top: 65px;
}

body{
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

.mdc-data-table__table{
  width: 100%;
}
